.App {
  text-align: center;
  align-items: center;
  justify-content: center
}

.appHeader{
  height: 4em;
  width: 100vw;
  background-color: #ab2a19 
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #3ad886;
  height: 10em;
  width: 10em;
  align-items: center
}